@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap'); */

/* Wix Madefor Text */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


/* overpass  */
/* @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap'); */


/* Rubik font  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
/* Loto */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
.lato{
  font-family: 'Lato', sans-serif;
}
.rubik {
  font-family: 'Rubik', sans-serif;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Wix Madefor Text', sans-serif;
  /* font-family: 'Overpass', sans-serif; */
}

:root{
  max-width: 1400px;
  margin: auto;
}


.drowpdown  {
  background-color: #FFFFFF;
  color: black;
  padding-left: 15px;
}

.drowpdown a{
  margin-top: 10px;
 
}


.right-manu:hover .drowpdown{
  display: block;
  
}

.manu-btn:hover .manu-btn {
  background-color: transparent;
}