@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  
}

:root{
  max-width: 1400px;
  margin: auto;
}


.drowpdown  {
  background-color: #FFFFFF;
  color: black;
  padding-left: 15px;
}

.drowpdown a{
  margin-top: 10px;
 
}


.right-manu:hover .drowpdown{
  display: block;
  
}

.manu-btn:hover .manu-btn {
  background-color: transparent;
}